body {
  padding: 0;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

.header {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  border: 1px solid tomato;
  text-align: start;
  margin: 1em auto;
  color: white;
  background-color: tomato;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.header > span,
h2 {
  margin-left: 2em;
}

.container {
  width: 50%;
  border: 0.5px solid gray;
<<<<<<< HEAD
  padding: 1em;
  margin: 2em auto;
  text-align: start;
=======
  margin: 1em auto;
  text-align: center;
>>>>>>> header
}

.title {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: x-large;
  text-align: center;
}
